<title>گارانتی | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/hero/zemanat.jpg' %}"  class="img-fluid m-auto s-img" alt="">
            </div>
            <div class="row m-auto">
                <div class="col-lg-12 mt-4 content">
                    <div class="title">  <h3>گارانتی</h3></div>

{#                    <hr>#}
                    <p>
                        وقتی به کیفیت و قابلیت اطمینان نیاز دارید ، از ما تجهیزات متریال هندلینگ را خریداری کنید! شرکت
                        ما به شما کمک می کند تا از خرابی پیش بینی نشده دستگاه محافظت کنید و به شما توانایی کار با
                        اطمینان را می دهد!


                    </p>
                    <h4>گارانتی شامل
                    </h4>
                    <ul style="font-size: larger">
                        <li><i class="bx bx-check"></i>
                            تا 3 سال پوشش.
                        </li>
                        <li><i class="bx bx-check"></i>
                            پوشش شامل قطعات و آموزش نیروی کار است.
                        </li>
                        <li><i class="bx bx-check"></i>
                            پرداخت اضافی لازم نیست.

                        </li>
                        <li><i class="bx bx-check"></i>
                            حداکثر 6 ماه پس از خرید از تاریخ فروش خرده فروشی در دسترس است.
                        </li>
                        <li><i class="bx bx-check"></i>
                            تعمیرات توسط یک تکنسین کاملاً واجد شرایط.

                        </li>
                        <li><i class="bx bx-check"></i>
                            قطعات یدکی معتبر

                        </li>
                        <li><i class="bx bx-check"></i>
                            پیشنهاد متناسب با نیازهای شما


                        </li>
                        <li><i class="bx bx-check"></i>
                            مزایای استفاده بهینه و حداقل زمان خرابی دستگاه شما.


                        </li>
                        <li><i class="bx bx-check"></i>پیش بینی و کنترل هزینه های خود

                        </li>
                        <li><i class="bx bx-check"></i>
                            پوشش بین المللی

                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}

