<title> بیانیه ماموریت | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %} {% load static %} {% block header %} {% include 'partial/_header.html' %} {% endblock %} {% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <!-- <div class="d-flex justify-content-center ">
            <img src="{% static 'img/hero/optimize.jpg' %}" class="img-fluid m-auto s-img" alt="">
        </div> -->
        <div class="row">
            <div class="col-lg-12 pt-4 content">
                <div class="title">
                    <h3> بیانیه ماموریت</h3>
                </div>
                <p>
                    طراحی، ساخت، تولید، بهبود، توسعه و ارایه خدمات پشتیبانی پس از فروش انواع سیستم های مکانیزاسیون و دستگاه های جابجایی مواد و اجسام در حوزه های معادن، صنایع فولاد، نفت و گاز، سیمان، اسکله ها و بنادر و سایر صنایع تولیدی در بازارهای داخلی و خارجی با کیفیت
                    مطلوب و تحویل به موقع و با بهره گیری از فناوری روزآمد و توانمندسازی کیفی منابع انسانی. </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
{% endblock %} {% block footer %} {% include 'partial/_footer.html' %} {% endblock %}