<title>تامین قطعات | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/hero/supply.jpg' %}" class="img-fluid m-auto s-img" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4 content">
<div class="title"> <h3>تامین قطعات</h3></div>
                    <p>
                   وقتی به تجهیزات جدید خود نیاز دارید تا تجهیزات خود را به صورت مداوم حفظ کنید ، ما در اینجا برای شما هستیم. قطعات تعمیر و نگهداری پیشگیرانه می تواند تجهیزات شما را به روز نگه دارد. اگر به تجهیزات جایگزینی برای هر یک از تجهیزات شرکت فناوران طیف صنعت نیاز دارید می توانید با شرکت در تماس باشید.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}

