<title> چشم انداز | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %} {% load static %} {% block header %} {% include 'partial/_header.html' %} {% endblock %} {% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <!-- <div class="d-flex justify-content-center ">
            <img src="{% static 'img/hero/optimize.jpg' %}" class="img-fluid m-auto s-img" alt="">
        </div> -->
        <div class="row">
            <div class="col-lg-12 pt-4 content">
                <div class="title">
                    <h3> چشم انداز</h3>
                </div>
                <p>
                    چشم انداز شرکت فناوران طیف صنعت کویر تا پایان سال 1405: </p>
                <p>« برترین صادر کننده سیستم های مکانیزاسیون و دستگاه های انتقال مواد و اجسام با پیشتازی در نوآوری، کیفیت و ارتقای سطح دانش فنی در منطقه خاورمیانه»
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
{% endblock %} {% block footer %} {% include 'partial/_footer.html' %} {% endblock %}