
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
p,
h1,
h2,
h3,
h4,
div,
form,
a,
li{
    font-family:"Open Sans";
}
.main-header .main-menu ul li a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.tyrehandler .col-description h2{
    color: #dd0000;
    text-align: left;
}
