@font-face {
    font-family: 'Myfont';
    src: url('../font/Yekan.eot');
    src: url('../font/Yekan.svg');
    src: url('../font/Yekan.ttf');
    src: url('../font/Yekan.woff');
    /*src: url('../font/IRAN Sans Regular.svg');*/
    /*src: url('../font/IRAN Sans Regular.eot');*/
    /*src: url('../font/IRAN Sans Regular.ttf');*/
    /*src: url('../font/IRAN Sans Regular.woff');*/
    /*src: url('../font/IRAN Sans Regular.woff2');*/
}

h1,
h2,
h3,
p,
h4,
h5,
textarea,
a,
button,
tr,
th,
form,
li,
strong {
    font-family: MyFont !important;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
}

.header-area .header-top {
    background: #dd0000;
    padding: 0px 0px;
}

.header-area .header-top .header-info-left ul li:last-child {
    margin-left: 0px;
}

.header-area .header-top .header-info-left ul li {
    color: #000000;
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "Muli", sans-serif;
    text-transform: inherit;
}

.header-area .header-top .header-info-left ul li i {
    margin-left: 8px;
}

.header-area .header-top .header-info-right .header-social a i {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.header-area .header-top .header-info-right .header-social a:hover i {
    color: #ff2143;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 3, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-bottom {
        padding: 17px 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 3, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-bottom {
        padding: 17px 0px;
    }
}

@media (max-width: 575px) {
    /* line 3, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-bottom {
        padding: 17px 0px;
    }
}

.header-bottom {
    background: #ffce00;
}
@media (min-width: 990px ) {
    .header-bottom .logo img{
     width: 130px;
}

}
@media (max-width: 990px ) {
    .header-bottom .logo img{
     width: 80px;
}

}
.header-area .header-sticky.sticky-bar {
    background: #ffce00;
}

.header-area .header-sticky.sticky-bar .main-menu nav > ul > li > a {
    padding: 33px 2px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 204, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 204, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0px;
    }
}

@media (max-width: 575px) {
    /* line 204, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0px;
    }
}

/*.logo {*/
/*    padding-bottom: 30px;*/
/*    padding-left: 30px;*/
/*    padding-top: 70px;*/
/*}*/
/*.logo h1{*/
/*    color: #fff;*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*}*/
.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* line 62, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .main-header .main-menu {
        margin-right: 30px;
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 22px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* line 67, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .main-header .main-menu ul li {
        margin: 0 13px;
    }
}

.main-header .main-menu ul li a {
    color: #0d2d3e;
    font-weight: 600;
    padding: 33px 2px;
    display: block;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* line 75, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_headerMenu.scss */
    .main-header .main-menu ul li a {
        padding: 39px 0px;
    }
}

.main-header .main-menu ul li:hover > a {
    color: #dd0000;
    text-decoration: none;
}

.main-header .main-menu ul li:last-child a {
    padding-right: 0;
}

.main-header .main-menu ul li.active {
    position: relative;
}

.main-header .main-menu ul li.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #dd0000;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #000000;
    right: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-header .main-menu ul ul.submenu > li {
    margin-left: 7px;
    display: block;
}

.main-header .main-menu ul ul.submenu > li > a {
    padding: 6px 10px !important;
    font-size: 15px;
    color: #fdfdfd;
}

/*.main-header .main-menu ul ul.submenu > li > a:hover {*/
/*    color: #c6a16e;*/
/*    background: none*/
/*}*/
.main-header .main-menu ul ul.submenu > li > a:hover {
    background: none;
    padding-left: 13px !important;
}

.main-header ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-area .header-sticky.sticky-bar .main-menu nav > ul > li > a {
    padding: 33px 2px;
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important;
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -49px;
}

.mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 9px !important;
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #FF3514;
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important;
}

.carousel-caption {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    /*left: 0;*/
    top: 0;
    bottom: 0;
    /*transform: translate3d(0px, 0px, 0px);*/
    /*transform: matrix(1, 0, 0, 1, 0, 0);*/

}

.shape {
    text-align: center;
    background-color: rgb(0, 5, 9);
    width: 280px;
    height: 610px;
    line-height: 60px;
    color: white;
    margin: 0;
    position: relative;
    opacity: 0.5;
}

.shape:after {
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 600vh solid rgb(0, 5, 9);
    border-left: 220px solid transparent;
    position: absolute;
    right: 100%;
    top: 0px;
    /*opacity: 0.5;*/
}
@media (min-width: 990px) {
    .shape {
        width: 700px;
        height: 800px;
    }
}
.div-animate {
    position: absolute;
    overflow: visible;
    right: 0;
    bottom: 20px;
    top: 0;
    width: 0;
    height: 100%;
    border-top: 660px solid red;
    border-left: 620px solid transparent;
    opacity: 0.5;
}

.carousel-caption h1 {
    font-size: 240%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .row {
    float: left;
}

.about .content h3 {
    font-weight: 700;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #ffc451;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    background: #ffce00;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
}

.services .icon-box .icon img {
    color: #151515;
    width: 200px;
    height: 100px;
    transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #151515;
    transition: ease-in-out 0.3s;
}

.services .icon-box h4 a:hover {
    color: #ffce00;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

/*# Cta*/
/*--------------------------------------------------------------*!*/
.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero/h1_hero.png") fixed center center;
    background-size: cover;
    padding: 60px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #ffc451;
    border-color: #ffc451;
    color: #151515;
}

.cta .services-content span {
    /*font-size: 80px;*/
    border-radius: 50%;
    color: #dd0000;
}

@media (min-width: 576px) {
    .services-content .mt {
        margin-top: 300px;
    }

    .services-content span {
        font-size: 80px;
    }
}

@media (max-width: 576px) {
    .services-content img {
        width: 100px;
    }

    .services-content span {
        font-size: 50px;
    }

    .services-content .mt {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .services-content img {
        width: 140px;
    }
}

/*--------------------------------------------------------------
/*!*--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    background: #ffce00;
    color: #151515;
    float: right;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #151515;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #484848;
}

.contact .info .email, .contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #ffc451;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #ffce00;
    border: 0;
    padding: 10px 24px;
    color: #151515;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #ffcd6b;
}

/*# Footer*/
/*--------------------------------------------------------------*!*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    background: #151515;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}
#footer .footer-top .footer-info .logo img {
    width: 80px;
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
#footer .footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
    color: #ffce00;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #ffce00;
    color: #151515;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ffce00;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #ffce00;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #ffce00;
    color: #151515;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #ffce00;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
/*.ftco-animate {*/
/*  opacity: 0;*/
/*  visibility: hidden; }*/
.owl-carousel {
    position: relative;
}

.owl-carousel .owl-item {
    opacity: .4;
    /*float: left;*/
}

.owl-carousel .owl-item.active {
    opacity: 1;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    color: #00bdaa !important;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #e2e3e5;
    position: relative;
}

.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #ffce00;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
    left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
    right: -25px;
}

.owl-carousel.home-slider {
    position: relative;
    height: 730px;
    z-index: 0;
    top: -60px;
}

.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 650px;
    position: relative;
    z-index: 0;
}

@media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item {
        background-position: center center !important;
    }
}

.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: .6;
}

.owl-carousel.home-slider .slider-item .slider-text {
    height: 650px;
}

@media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text {
        text-align: center;
    }
}

.owl-carousel.home-slider .slider-item .slider-text .text {
    position: relative;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 900;
}

.owl-carousel.home-slider .slider-item .slider-text h1 span {
    display: block;
}

@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 40px;
    }
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.owl-carousel.home-slider .slider-item .slider-text p {
    color: rgba(255, 255, 255, 0.9);
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
    color: #fff;
}

.owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    direction: rtl;
}

.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ftco-animate {
  opacity: 0;
  visibility: hidden; }
.testimony-section {
    position: relative;
}

.testimony-section .owl-carousel {
    margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
    padding-top: 4em;
    padding-bottom: 2em;
    position: relative;
}

.testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
    color: #000000;
}

.testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
    opacity: 1;
}

.testimon-section:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section .owl-dots {
    text-align: center;
}

.testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.testimony-section .owl-dots .owl-dot.active {
    background: #00bdaa;
}

.testimony-wrap {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    background: #fafafa;
}

.testimony-wrap .user-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}

.testimony-wrap .text {
    width: calc(100% - 90px);
    position: relative;
}

.testimony-wrap .quote {
    position: absolute;
    top: -45px;
    left: 25px;
    opacity: 1;
}

.testimony-wrap .quote i {
    font-size: 40px;
    color: #00bdaa;
}

.testimony-wrap .name {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
}

.testimony-wrap .position {
    font-size: 14px;
    color: #00bdaa;
}

/*tyrrehandler-----------------------*/
.tyrehandler {
    /*border: 1px solid #000000;*/
    width: 75%;
    height: auto;
    background: #f8f9fa;
    margin: 20px auto 40px;
    border-radius: 10px;
}

.tyrehandler .col-picture {
    background: #ffffff;
    /*border: 1px solid #dd0000;*/
    margin: 10px;
}

.tyrehandler .col-picture img {
    width: 200px;
}

.tyrehandler .col-description {
    /*background: #ffce00;*/
    /*border: 1px solid #dd0000;*/
    margin: 10px;
}

.tyrehandler strong {
    font-size: 13px;
}

.tyrehandler .col-description h2 {
    color: #dd0000;
    text-align: right;
}

.tyrehandler .col-description-1 {
    text-align: right;
}

.tyrehandler .col-description-2 {
    text-align: right;
}

.tyrehandler .col-arrow {
    margin: 10px;
    /*background: white;*/
}

.tyrehandler .col-arrow div {
    color: #ffce00;
    margin-right: auto;

}

.tyrehandler .col-arrow div button {
    background: #ffce00;
}

.tyrehandler .col-arrow div button a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.product-headings {
    background-color: #dd0000;
}

.product-headings .product-headings-category h3 {
    color: #000000;
    margin-right: 20px;
}

.product .bloc-product {
    background: #fefa;
}

.product button {
    background-color: #ffce00;
}

.product p {
    font-size: 16px;
}

.bloc-product img {
    width: 350px;
}

.bloc-product .header .header-content-text {
    background-color: #ffce00;
}

.bloc-product table {
    text-align: center;
}

.bloc-product table thead {
    background-color: #dd0000;
}

.history .history-year {
    margin-top: 20px;
    text-align: center;
}

.history .history-year span {
    background: #f5f5f5;
    border: 1px solid #f0f0f0;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 18px;
    color: #919191;
}

.bloc {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    padding: 20px;
}

.history .history-picture {
    padding-left: 10px;
    padding-right: 10px;
}

/*.history .history-picture {*/
/*    float:right;*/
/*    width: 41.667%;*/
/*}*/
.history .history-picture {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.history .history-picture img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.history .history-content {
    float: right;
}

.history .history-picture + .history-content, .history .history-media + .history-content {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}

