<!DOCTYPE html> {% load static %}
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="قالب خبری Magz">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="قالب خبری، قالب اچ تی ام ال، قالب خبری مگز">
    <!-- Shareable -->
    <meta property="og:title" content="قالب خبری Magz" />
    <meta property="og:type" content="article" />
    <title>قالب خبری Magz</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'scripts/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/bootstrap-rtl.min.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'mags/scripts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
    <!-- Toast -->
    <link rel="stylesheet" href="{% static 'mags/scripts/toast/jquery.toast.min.css' %}">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="{% static 'mags/scripts/owlcarousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/owlcarousel/dist/assets/owl.theme.default.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'mags/scripts/magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/sweetalert/dist/sweetalert.css' %}">
    <!-- Custom style -->
    <link rel="stylesheet" href="{% static 'mags/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/skins/all.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/demo.css' %}">
</head>

<body class="skin-orange">
    <header class="primary">
        <div class="firstbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="brand">
                            <a href="index.html">
                                <img src="{% static 'mags/images/logo.png' %}" alt="Magz Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <form class="search" autocomplete="off">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="جستجوی عبارت مورد نظر ...">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">
											<a class="ion-search text-white" href="search.html"></a>
										</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="help-block mt-2">
                                <div>محبوب ترین ها : </div>
                                <ul>
                                    <li><a href="#">کرونا</a></li>
                                    <li><a href="#">قیمت ارز</a></li>
                                    <li><a href="#">فوتبال</a></li>
                                    <li><a href="#">آلودگی هوا</a></li>
                                    <li><a href="#">برجام</a></li>
                                </ul>
                            </div> -->
                        </form>
                    </div>
                    <!-- <div class="col-lg-3 col-md-12 col-sm-12 text-right">
                        <ul class="nav-icons">
                            <li><a href="register.html"><i class="ion-person-add"></i>
									<div>ثبت نام</div>
								</a></li>
                            <li><a href="login.html"><i class="ion-person"></i>
									<div>ورود</div>
								</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- Start nav -->
        <nav class="menu">
            <div class="container">
                <div class="brand">
                    <a href="#">
                        <img src="{% static 'mags/images/logo.png' %}" alt="Magz Logo">
                    </a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
                </div>
                <div id="menu-list">
                    <ul class="nav-list">
                        <li class="for-tablet nav-title"><a>فهرست</a></li>
                        <li class="for-tablet"><a href="login.html">ورود</a></li>
                        <li class="for-tablet"><a href="register.html">ثبت نام</a></li>
                        <li><a href="index.html">خانه</a></li>
                        <li class="dropdown magz-dropdown">
                            <a href="#">فناوران <i class="ion-ios-arrow-left"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'mag:technology' %}">تکنولوژی</a></li>
                                <li><a href="{% url 'mag:safety' %}"> ایمنی</a></li>
                                <li><a href="{% url 'mag:home' %}"> نمایشگاه</a></li>
                            </ul>
                        </li>
                        <li class="dropdown magz-dropdown">
                            <a href="#">هندلر <i class="ion-ios-arrow-left"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">انواع هندلر</a></li>
                                <li><a href="element.html"> معرفی هندلر</a></li>
                            </ul>
                        </li>
                        <li class="dropdown magz-dropdown">
                            <a href="category.html">  معادن <i class="ion-ios-arrow-left"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="category.html">اخبار</a></li>
                                <li><a href="category.html"> نمایشگاه</a></li>
                                <li><a href="category.html"> انواع معادن</a></li>
                                <li><a href="category.html"> ماشین آلات معادن</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.aparat.com/v/xmLEe/">فیلم وعکس</a></li>
                    </ul>
                    </li>


                    </ul>
                </div>
            </div>
        </nav>
        <!-- End nav -->
    </header>
    <section class="category">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8 text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a href="#">خانه</a></li>
                                <li><a href="#">دسته بندی</a></li>
                                <li class="active">فناوری</li>
                            </ol>
                            <h1 class="page-title mt-3">دسته بندی : فناوری</h1>
                            <p class="page-subtitle text-large mb-4">نمایش پست ها با دسته بندی <i>فناوری</i></p>
                        </div>
                    </div>
                    <div class="line mt-1"></div>
                    <div class="row">
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img01.jpg' %}">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                                        </div>
                                        <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                    </div>
                                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                                    </p>
                                    <footer class="mt-2">
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>145</div>
										</a>
                                        <a class="btn btn-primary more" href="single-post.html">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img11.jpg' %}">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                                        </div>
                                        <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                    </div>
                                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                                    </p>
                                    <footer class="mt-2">
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>491</div>
										</a>
                                        <a class="btn btn-primary more" href="single-post.html">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img08.jpg' %}">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                                        </div>
                                        <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                    </div>
                                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                                    </p>
                                    <footer class="mt-2">
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>96</div>
										</a>
                                        <a class="btn btn-primary more" href="single-post.html">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img13.jpg' %}">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                                        </div>
                                        <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                    </div>
                                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                                    </p>
                                    <footer class="mt-2">
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>1,370</div>
										</a>
                                        <a class="btn btn-primary more" href="single-post.html">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img15.jpg' %}">
                                    </a>
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                                        </div>
                                        <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                                    </div>
                                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                                    </p>
                                    <footer class="mt-2">
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>117</div>
										</a>
                                        <a class="btn btn-primary more" href="single-post.html">
                                            <div>بیشتر</div>
                                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-12 article-list">
                            <div class="inner">
                                <figure>
                                    <a href="single-post.html">
                                        <img src="{% static 'mags/images/news/img03.jpg' %}
                                </figure>
                                <div class="details">
                                    <div class="detail text-right d-flex">
                                        <div class="category">
                                            <a href="category.html">اقتصادی</a>
                            </div>
                            <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                    </div>
                    <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                    </p>
                    <footer class="mt-2">
                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>327</div>
										</a>
                        <a class="btn btn-primary more" href="single-post.html">
                            <div>بیشتر</div>
                            <div><i class="ion-ios-arrow-thin-left"></i></div>
                        </a>
                    </footer>
                </div>
            </div>
            </article>
            <article class="col-md-12 article-list">
                <div class="inner">
                    <figure>
                        <a href="single-post.html">
                            <img src="{% static 'mags/images/news/img15.jpg' %}">
                        </a>
                    </figure>
                    <div class="details">
                        <div class="detail text-right d-flex">
                            <div class="category">
                                <a href="category.html">اقتصادی</a>
                            </div>
                            <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                        </div>
                        <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                        </p>
                        <footer class="mt-2">
                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>124</div>
										</a>
                            <a class="btn btn-primary more" href="single-post.html">
                                <div>بیشتر</div>
                                <div><i class="ion-ios-arrow-thin-left"></i></div>
                            </a>
                        </footer>
                    </div>
                </div>
            </article>
            <article class="col-md-12 article-list">
                <div class="inner">
                    <figure>
                        <a href="single-post.html">
                            <img src="{% static 'mags/images/news/img16.jpg' %}">
                        </a>
                    </figure>
                    <div class="details">
                        <div class="detail text-right d-flex">
                            <div class="category">
                                <a href="category.html">اقتصادی</a>
                            </div>
                            <div class="time"><i class="fa fa-clock"></i> اسفند ۹۸</div>
                        </div>
                        <h1 class="pt-0"><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی
											نامفهوم</a></h1>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ...
                        </p>
                        <footer class="mt-2">
                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
											<div>37</div>
										</a>
                            <a class="btn btn-primary more" href="single-post.html">
                                <div>بیشتر</div>
                                <div><i class="ion-ios-arrow-thin-left"></i></div>
                            </a>
                        </footer>
                    </div>
                </div>
            </article>
            <div class="col-md-12 text-center d-flex justify-content-center">
                <ul class="pagination">
                    <li class="prev"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">97</a></li>
                    <li class="next"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-12 col-lg-4 sidebar">
            <aside>
                <div class="aside-body">
                    <figure class="ads">
                        <a href="single-post.html">
                            <img src="{% static 'mags/images/ad.png' %}">
                        </a>
                        <figcaption class="text-center">تبلغات</figcaption>
                    </figure>
                </div>
            </aside>
            <aside>
                <h1 class="aside-title">اخبار جدید</h1>
                <div class="aside-body">
                    <article class="article-fw">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'mags/images/news/img12.jpg' %}">
                                </a>
                            </figure>
                            <div class="details">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                </p>
                                <div class="detail">
                                    <div class="time">20 فروردین ۱۳۹۸</div>
                                    <div class="category"><a href="category.html">فناوری</a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="line"></div>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'mags/images/news/img05.jpg' %}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">فناوری</a></div>
                                    <div class="time">19 فروردین ۱۳۹۸</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'mags/images/news/img02.jpg' %}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">گردشگری</a></div>
                                    <div class="time">18 فروردین ۱۳۹۸</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single-post.html">
                                    <img src="{% static 'mags/images/news/img13.jpg' %}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                </h1>
                                <div class="detail">
                                    <div class="category"><a href="category.html">فناوری</a></div>
                                    <div class="time">17 فروردین ۱۳۹۸</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </aside>
            <aside>
                <div class="aside-body">
                    <form class="newsletter">
                        <div class="icon">
                            <i class="ion-ios-email-outline"></i>
                            <h1 class="text-center">خبرنامه</h1>
                        </div>
                        <div class="input-group">
                            <input type="email" class="form-control email" placeholder="ایمیل شما">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="ion-paper-airplane mr-0"></i></button>
                            </div>
                        </div>
                        <p>برای دریافت آخرین اخبار، ایمیل خود را وارد کنید</p>
                    </form>
                </div>
            </aside>
        </div>
        </div>
        </div>
    </section>
    <!-- Start footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">درباره ما</h1>
                        <div class="block-body">
                            <figure class="foot-logo">
                                <img src="{% static  'mags/images/logo-light.png' %}" class="img-responsive" alt="Logo">
                            </figure>
                            <p class="brand-description">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ...
                            </p>
                            <a href="about.html" class="btn btn-magz white">صفحه درباره ما <i
									class="ion-ios-arrow-thin-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">برترین برچسب ها
                            <div class="left"><a href="#">مشاهده همه <i
										class="ion-ios-arrow-thin-left"></i></a></div>
                        </h1>
                        <div class="block-body">
                            <ul class="tags">
                                <li><a href="#">کرونا</a></li>
                                <li><a href="#">قیمت ارز</a></li>
                                <li><a href="#">دربی پایتخت</a></li>
                                <li><a href="#">واژگونی اتوبوس</a></li>
                                <li><a href="#">برجام</a></li>
                                <li><a href="#">قیمت سکه</a></li>
                                <li><a href="#">گوشی سامسونگ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="block">
                        <h1 class="block-title">خبرنامه</h1>
                        <div class="block-body">
                            <p>برای دریافت آخرین اخبار ایمیل خود را وارد کنید</p>
                            <form class="newsletter">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ion-ios-email-outline"></i>
                                    </div>
                                    <input type="email" class="form-control email" placeholder="ایمیل شما">
                                </div>
                                <button class="btn btn-primary btn-block white">ثبت ایمیل</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="block">
                        <h1 class="block-title">آخرین خبر ها</h1>
                        <div class="block-body">
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="{% static 'mags/images/news/img12.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="{% static  'mags/images/news/img14.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="{% static 'mags/single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="{% static  'mags/images/news/img15.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
											</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="single-post.html">
                                            <img src="{% static 'mags/images/news/img16.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="single-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
											</a>
                                        </h1>
                                    </div>
                                </div>
                            </article>
                            <a href="#" class="btn btn-magz white btn-block text-center">مشاهده همه <i
									class="ion-ios-arrow-thin-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                    <div class="block">
                        <h1 class="block-title">دنبال کردن</h1>
                        <div class="block-body">
                            <p>ما را در شبکه های اجتماعی دنبال کنید</p>
                            <ul class="social trp">
                                <li>
                                    <a href="#" class="facebook">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-twitter-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="youtube">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-youtube-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="googleplus">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-instagram-outline"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tumblr">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dribbble">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="skype">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rss">
                                        <svg>
											<rect width="0" height="0" /></svg>
                                        <i class="ion-social-rss"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="block">
                        <div class="block-body no-margin">
                            <ul class="footer-nav-horizontal">
                                <li><a href="index.html">خانه</a></li>
                                <li><a href="contact.html">تماس با ما</a></li>
                                <li><a href="about.html">در باره ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        COPYRIGHT &copy; MAGZ 2020. تمام حقوق محفوظ است.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- JS -->
    <script src="{% static 'mags/js/jquery.js' %}"></script>
    <script src="{% static 'mags/js/jquery.migrate.js' %}"></script>
    <script src="{% static 'mags/scripts/bootstrap/bootstrap.min.js' %}"></script>
    <script>
        var $target_end = $(".best-of-the-week");
    </script>
    <script src="{% static 'mags/scripts/jquery-number/jquery.number.min.js' %}"></script>
    <script src="{% static 'mags/scripts/owlcarousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mags/scripts/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'mags/scripts/easescroll/jquery.easeScroll.js' %}"></script>
    <script src="{% static 'mags/scripts/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script src="{% static 'mags/scripts/toast/jquery.toast.min.js' %}"></script>
    <script src="{% static 'mags/js/demo.js' %}"></script>
    <script src="{% static 'mags/js/e-magz.js' %}"></script>
</body>

</html>