
<title>بلت هندلر | فناوران طیف صنعت کویر</title>

{% extends 'en-pages/base.html' %}
{% block header %}
    {% include 'en-partial/_header.html' %}
{% endblock %}

{% block content %}
    <section class="" id="detail">
        <div class=" container">
            <div class="product-headings row d-flex justify-content-lg-start align-items-center mb-4">
                <div class="product-headings-category p-1">
                    <h3 class="">{{ belthandler.name }}</h3>
                </div>
                <h1 class="mr-lg-auto p-1">{{ belthandler.code }}</h1>
            </div>

            <div class="product">
                <div class="cta-bloc row">
                    <!-- ngIf: productsCtrl.product.description -->
                    <div class="product-description col-lg-8">
                        {{ belthandler.Endescription|safe }}
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-block mt-5">
                            <span translate="" class="ng-scope">Download Catalog</span>
                        </button>
                    </div>
                </div>

                <div class="bloc-product mt-5">
                    <header class="header">
                         <p> {{ belthandler.name }}</p>
                        <div class="header-content pt-4">

                            <h1 class="header-content-title">
                                {{ belthandler.code }}
                            </h1>
                        </div>
                    </header>
                    <div class="">
                       <div class="order-1 ">
                            <div class="d-flex justify-content-center">
                                <img class="" style="margin: 10px"
                                         src="{{ belthandler.image.url }}"/>
                                               </div>
                        </div>
                        <div class=" order-2 ">
                            <table class="table table-striped ">
                                <div class="thead text-white"><p class="pr-3 pt-2">{{ belthandler.name }}</p></div>
                                <tbody>
                                <tr><th> Product Name</th><td>{{ belthandler.name }}</td></tr>
                                <tr><th> code</th><td>{{ belthandler.code }}</td></tr>
                                <!--<tr><th>سال تولید</th><td>{{ belthandler.model_Year }}</td></tr>-->
                                <tr><th>capacity(kg)</th><td>{{belthandler.capacity_Kg }}</tr>
                                <tr><th>capacity(lbs)</th><td>{{belthandler.capacity_Lbs}}</td></tr>
                                <tr><th> range of work  (mm)</th><td>{{belthandler.Roll_Diameter_mm}}</td></tr>
                                <tr><th>  range of work(in)</th><td>{{belthandler.Roll_Diameter_in}}</td></tr>
                                </tbody>
                            </table>

                        </div>
                           <div class="mt-5">
                            <div class="d-flex justify-content-center">
                                {% if belthandler.image1 %}
                                                                <img class="p-2" src="{{ belthandler.image1.url }}"  alt="">

                                {% endif %}
                                {% if belthandler.image2 %}
                                                                <img class="p-2" src="{{ belthandler.image2.url }}"  alt="">

                                {% endif %}
                                {% if belthandler.image3 %}
                                                                <img class="p-2" src="{{ belthandler.image3.url }}"  alt="">

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'en-partial/_footer.html' %}
{% endblock %}
