
<title> لوازم جانبی | فناوران طیف صنعت کویر</title>

{% extends 'en-pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'en-partial/_header.html' %}
{% endblock %}
{% block content %}

    {% for Plugin in plugins %}


        <div class="history">
            <div class="bloc ">
                <div class="row">
                    <div class="history-picture col-lg-4 d-flex justify-content-center">

                        <img alt="historicItem.title"
                             class="pro-img"
                             src="{{ Plugin.image.url }}">
                    </div>

                    <div class="history-content col-lg-8 ">
                        <h2 class="border-bottom ">{{ Plugin.name }}</h2>
                        <p>{{ Plugin.Endescription }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block footer %}
    {% include 'en-partial/_footer.html' %}
{% endblock %}
