
<title>سفارشی سازی | فناوران طیف صنعت کویر</title>

{% extends 'en-pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/hero/customize.jpg' %}" class="img-fluid m-auto s-img" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4 content">
                    <div class="title"> <h3>سفارشی سازی</h3></div>
                    <p>
تمامی محصولات این شرکت با توجه به نیاز صنعت، معدن، کشاورزی و ... قابل تغییر و سفارشی شدن هستند. در صورتی که گستره کاری مورد نظر شما مطابق با محصول نباشد، با تماس با واحد بازرگانی و ارتباط با تکنسین های مربوط به هر بخش در کوتاه ترین زمان ممکن و با بالاترین کیفیت محصول مورد نظر شما با توجه به کاربری خاص قابل تولید و ارائه می باشد.                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}


