
<title>Guarantee | FTSKCO</title>

{% extends 'en-pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'en-partial/_header.html' %}
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/hero/zemanat.jpg' %}"  class="img-fluid m-auto s-img" alt="">
            </div>
            <div class="row m-auto">
                <div class="col-lg-12 mt-4 content" id="warranty">
                    <div class="title">  <h3>Warranty</h3></div>
                    <p>
                       When you need quality and reliability, buy material handling equipment from us! Our company helps you to protect the device from unforeseen breakdowns and gives you the ability to work with confidence!When you need quality and reliability, buy material handling equipment from us! Our company helps you to protect the device from unforeseen breakdowns and gives you the ability to work with confidence!
                    </p>
                    <h4> Warranty included
                    </h4>
                    <ul style="font-size: larger" >
                        <li><i class="bx bx-check"></i>
                           	Up to 3 years coverage.
                        </li>
                        <li><i class="bx bx-check"></i>
	Coverage includes parts and labor training.                        </li>
                        <li><i class="bx bx-check"></i>
	Available up to 6 months after purchase from the date of sale.                        </li>
                        <li><i class="bx bx-check"></i>
	Repairs by a fully qualified technician.
                        </li>
                        <li><i class="bx bx-check"></i>
	Authentic spare parts
                        </li>
                        </ul>
                                            <div class="title">  <h3>Advantages</h3></div>
                                            <ul>

                        
                        <li><i class="bx bx-check"></i>	Cost forecasting and control

                        </li>
                        <li><i class="bx bx-check"></i>
                           	International coverage

                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block footer %}
    {% include 'en-partial/_footer.html' %}
{% endblock %}

