<title>بهینه سازی | فناوران طیف صنعت کویر</title>

{% extends 'en-pages/base.html' %}
{% load static %}
{% block header %}
    {% include 'en-partial/_header.html' %}
{% endblock %}

{% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'img/hero/optimize.jpg' %}" class="img-fluid m-auto s-img" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4 content">
                    <div class="title"> <h3> Optimization</h3></div>
                    <p>
FTSK Co. is able to equip all existing devices in its field of work with the most up-to-date operating mechanism in terms of hydraulics and electronics.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block footer %}
    {% include 'en-partial/_footer.html' %}
{% endblock %}

