
{% load static %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
              <div class=" col-lg-6 ">
             <img src="{% static 'img/hero/item2.jpg' %}" class="img-fluid " alt="">
            </div>
            <div class=" col-lg-6 pt-4 pt-lg-0 content ">
                <h3>  Fanavaran Teif Sanat Kavir Co. </h3>
                <p class="" style="font-size: 15px">
FTSK Co. starts its activity in the field of designing and manufacturing mechanization system for moving other materials and components (material handling) with the aim of meeting the needs of  companies active in industries and mines.<br>
This company is known as one of the selected groups of Science and Technology Park in the field of manufacturing and production and now the head office of this company is located in Yazd Science and Technology Park. Relying on God's infinite grace and benefiting from experienced and specialized personnel, the company's activities have expanded day by day and is currently operating with large mines, including the Chadormelo mining and industrial complex. The products of FTSK Co now have a great impact on facilitating and accelerating material handling (moving materials and objects) and the stages of replacement, maintenance (PM). Effects such as:

                    <ul style="font-size: larger">
                <li>
                    •	Facilitate and accelerate the transport of heavy, semi-heavy and light materials and objects in different environments with very high flexibility.
                </li>
                <li>
                    •	Risk reduction and safer and more accurate transmission.

                </li>
                  <li>
                    •	Accelerate the repair process and make it easier and safer when working with industrial tools and machines.

                </li>  <li>
                    •	Accelerate the repair process and make it easier and safer when working with industrial tools and machines.

                </li>
            </ul>

<p class="" style="font-size: 15px">
We hope to take an effective step in the flourishing of the country's industry.
</p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
