  <section class="mt-5">
        <div class=" container">
            <div class="product-headings row d-flex justify-content-lg-start align-items-center mb-4">
                <div class="product-headings-category p-1">
                    <h3 class="">Construction Telehandlers</h3>
                </div>
                <h1 class="mr-lg-auto p-1">MHT-X 10130</h1>
            </div>

            <div class="product">
                <div class="cta-bloc row">
                    <!-- ngIf: productsCtrl.product.description -->
                    <div class="product-description col-lg-8">
                        <p>The MHT-X 10130 is the ideal telehandler for loads up to 13 tonnes in weight and is compatible with a wide range of attachments (cranes, buckets, tongs, etc.) which make it incredibly versatile so you can safely handle any number
                            of load types. Its 4-wheel drive and 3 steering modes as well as a very generous ground clearance can handle any type of terrain it comes up against.The 175 hp engine and hydrostatic transmission combine to give you power,
                            smoothness and precision when approaching and handling loads, whilst outriggers and frame levelling give you the stability you need to safely carry out operations.
                            <!-- end ngIf: productsCtrl.product.description -->
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-block mt-5">
                      <span translate="" class="ng-scope">Download</span>
                  </button>
                    </div>
                </div>

                <div class="bloc-product mt-5">
                    <header class="header">
                        <div class="header-content">
                            <p class="header-content-text">مشخصات</p>
                            <h1 class="header-content-title">


                                MHT-X 10130



                            </h1>
                            <h2 class="header-content-subtitle"></h2>
                        </div>
                    </header>
                    <div class="row">
                        <div class="col-lg-4 order-1 order-lg-2">
                            <div class="">
                                <img class="" src="https://adjeygjfyo.cloudimg.io/width/768/x/https://technical-datasheet-api.manitou.com/api/media/8/2/6/c/826c51658cc0ee353a1e108530c2c7f029efd71d_manitou_card_construction_telehandler_MHT10130_main_visual.png" alt="MHT-X 10130" onerror="this.onerror = null;this.src = 'https://manitou.cloud.akeneo.com/media/cache/preview/8/2/6/c/826c51658cc0ee353a1e108530c2c7f029efd71d_manitou_card_construction_telehandler_MHT10130_main_visual.png';">
                            </div>
                        </div>
                        <div class="col-lg-8 order-2 order-lg-1">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
