
{% load static %}
<footer id="footer" class="">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="footer-info">
{#                        <div class="logo">#}
{#                            <a href=""><img src="{% static 'img/logo/logo1.png' %}" alt=""></a>#}
{#                        </div>#}
                        <p>
                            Yazd Science and Technology Park,<br> Motahhari St., Yazd, Iran
                                <br><br>
                            <strong>phone:</strong>  4260 3841 035<br>
                            <strong>email:</strong> info@ftskco.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.linkedin.com/in/fanavaran-teif-sanat-kavir-4a16371b5" target="_blank"  class="facebook"><i class="bx bxl-linkedin"></i></a>
                            <a href="https://instagram.com/ftskco.ir?r=nametag" target="_blank"  class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://t.me/joinchat/AAAAAE18EIt-pi4qWE1QOA" target="_blank"  class="google-plus"><i class="bx bxl-telegram"></i></a>
                            <a href="https://www.youtube.com/channel/UCl9DV86NoxMyFE-7W5F9nqg/?guided_help_flow=5" target="_blank"  class=""><i class="bx bxl-youtube"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:home' %}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:about' %}">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:post' %}">events</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:contact' %}">Contactsا</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
{#                    <h4>محصولات</h4>#}
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:cylinderh' %}">Cylinder handler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:struth' %}">Strut handler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:belt' %}">Belt handler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:pipe' %}"> Pipe handler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:wheel' %}"> Wheel handler</a></li>
                    </ul>
                </div>
                 <div class="col-lg-2 col-md-2 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="{% url 'enweb:repair' %}">agreement</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:supplycomp' %}">Spare parts</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'enweb:Surety' %}">Warranty</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{% url 'enweb:optimization' %}">optimizations</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{% url 'enweb:customization' %}">customization</a></li>
                    </ul>
                </div>
{#<div class="col-lg-3 col-md-3 footer-newsletter">#}
{#<img src="{% static 'img/logo/Park-yzd.png' %}">#}
{#</div>#}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            تمامی حقوق برای شرکت فناوران طیف   صنعت کویر محفوظ می باشد
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            طراحی توسط <a href="https://instagram.com/shiateam?igshid=1raf9wd11dcax">شیاتیم</a>
        </div>
    </div>
</footer><!-- End Footer -->

