
<!-- ======= Services Section ======= -->
{% load static %}
<!-- ======= Cta Section ======= -->
<section id="services" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3 style="font-weight: bold;font-size: 20px">زمینه های فعالیت شرکت</h3>

        </div>
        <div class="row services-content  align-content-center">
            <div class="col-lg-4 col-md-4 p-3">
                <div class="row  align-items-center">
                    <i class="icofont-hammer"></i>
                    {#                    <img src="{% static 'img/logo/company.png' %}"  alt="Orange agriculture icon png" />#}
                    <div class="card-body">
                        <h3>mining:</h3>
                        <p>	Maintenance of cylinders and jacks, Maintenance/changing tires, Wheel hub maintenance, Handling conveyor belt, Lifting skilled workers	Oil & gas, Defense, Airports, Infrastructure maintenance, Forestry, Ports, Railways, Storage of small/medium sized boats, Handling for maintenance and hull cleaning

                    </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-wheat"></i>
                    <div class="card-body">
                        <h3>agriculture:</h3>
                        <p> Picking dates from palms, Maintenance of public green areas, Maintenance of plantations	Building sites, Great public works, Demolition, Coverings, Renovations and restorations
 </p></div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-4  p-3 d-none  d-lg-block d-md-block services-img">
            </div>
            <div class="col-lg-4 col-md-4  p-3 ">
                <div class="row align-items-center ">
                    <i class="icofont-industries"></i>
                    <div class="card-body">
                        <h3> Manufacturing and shipbuilding :</h3>
                        <p>Oil & gas, Defense, Airports, Infrastructure maintenance, Forestry, Ports, Railways, Storage of small/medium sized boats, Handling for maintenance and hull cleaningا
 </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-building-alt"></i>
                <div class="card-body">
                    <h3>construction:</h3>
                    <p> Picking dates from palms, Maintenance of public green areas, Maintenance of plantations	Building sites, Great public works, Demolition, Coverings, Renovations and restorations </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section><!-- End Cta Section -->
<section class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
              <h2>Catalog</h2>
        </div>

          <div class="row justify-content-center">
            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/electricity-2/76/Transformer-512.png"></div>
                    <h4><a href="{% url 'enweb:struth' %}"> Strut handler</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4"
                 data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn2.iconfinder.com/data/icons/automobile-parts-and-repair-car-services-2-1/50/119-512.png">
                    </div>
                    <h4><a href="{% url 'enweb:cylinderh' %}">Cylinder handler</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch   justify-content-center pt-4"
                 data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxfKfJZ79NBilcWyxtFHEGuwVbmDPUBthvUQ&usqp=CAU">
                    </div>
                    <h4><a href="{% url 'enweb:tyreh' %}">Tyre handler</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><span class="icofont-articulated-truck"></span></div>
                    <h4><a href="{% url 'enweb:wheel' %}">Wheel motor</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://www.kindpng.com/picc/m/119-1190577_pipe-transparent-pipe-icon-png-png-download.png">
                    </div>
                    <h4><a href="{% url 'enweb:pipe' %}">Pipe handler</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/industrial-and-construction-2/70/77-512.png">
                    </div>
                    <h4><a href="{% url 'enweb:belt' %}">Belt handler </a></h4>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
