<!DOCTYPE html> {% load static %}
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="مجله خبری FTSKCO">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="قالب خبری، قالب اچ تی ام ال، قالب خبری مگز">
    <!-- Shareable -->
    <meta property="og:title" content="قالب خبری Magz" />
    <meta property="og:type" content="article" />
    <title>مجله خبری FTSKCO</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'scripts/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/bootstrap-rtl.min.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'mags/scripts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
    <!-- Toast -->
    <link rel="stylesheet" href="{% static 'mags/scripts/toast/jquery.toast.min.css' %}">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="{% static 'mags/scripts/owlcarousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/owlcarousel/dist/assets/owl.theme.default.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'mags/scripts/magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'mags/scripts/sweetalert/dist/sweetalert.css' %}">
    <!-- Custom style -->
    <link rel="stylesheet" href="{% static 'mags/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/skins/all.css' %}">
    <link rel="stylesheet" href="{% static 'mags/css/demo.css' %}">
</head>
<body class="skin-orange">

{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

    <!-- JS -->
    <script src="{% static 'mags/js/jquery.js' %}"></script>
    <script src="{% static 'mags/js/jquery.migrate.js' %}"></script>
    <script src="{% static 'mags/scripts/bootstrap/bootstrap.min.js' %}"></script>
    <script>
        var $target_end = $(".best-of-the-week");
    </script>
    <script src="{% static 'mags/scripts/jquery-number/jquery.number.min.js' %}"></script>
    <script src="{% static 'mags/scripts/owlcarousel/dist/owl.carousel.js' %}"></script>
    <script src="{% static 'mags/scripts/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'mags/scripts/easescroll/jquery.easeScroll.js' %}"></script>
    <script src="{% static 'mags/scripts/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script src="{% static 'mags/scripts/toast/jquery.toast.min.js' %}"></script>
    <script src="{% static 'mags/js/demo.js' %}"></script>
    <script src="{% static 'mags/js/e-magz.js' %}"></script>
</body>

</html>