  <title>خانه | فناوران طیف صنعت کویر</title>

{% extends 'mags/pages/base.html' %}
 {% load static %}
{% block header %}
    {% include 'mags/partial/_header.html' %}
{% endblock %}

{% block content %}
    <div class="container mb-5 col-6 " style="padding-top: 275px;">

        <div id="36890641748" class = "mb-5">
            <script type="text/JavaScript" src="https://www.aparat.com/embed/JroiT?data[rnddiv]=36890641748&data[responsive]=yes"></script>
        </div>
        <div id="97930360792" class = "mb-5"><script type="text/JavaScript" src="https://www.aparat.com/embed/PvSdw?data[rnddiv]=97930360792&data[responsive]=yes"></script></div>

    </div>
{% endblock %}
{% block footer %}
    {% include 'mags/partial/_footer.html' %}
{% endblock %}