{% load static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
  <div class="d-flex justify-content-center ">
                <img src="{% static 'img/blog/single_blog_1.png' %}" class="img-fluid m-auto" alt="">
            </div>
        <div class="row">
            <div class="col-lg-6 pt-4 content">
                <h3>فناوران طیف گستر کویر</h3>
                <p class="" style="font-size: 15px">
                   شرکت فناوران طیف صنعت کویر در زمینه طراحی و ساخت سیستم مکانیزاسیون جابجایی مواد واجسام (material handling) با هدف تامین نیاز شرکت های فعال در صنایع و معادن، فعالیت خود را آغاز نمود.
این شرکت به عنوان یکی از گروه های برگزیده پارک علم و فناوری در حوزه ساخت و تولید شناخته شده و هم اکنون دفتر مرکزی این شرکت در پارک علم و فناوری یزد دایر است. با اتکا به الطاف بیکران الهی و بهره¬مندی از پرسنل مجرب و متخصص، فعالیت¬های شرکت روزبهروز گسترش یافته است و در حال حاضر با معادن بزرگی از جمله مجتمع معدنی و صنعتی چادرملو ، در حال فعالیت می باشد.

تولیدات و محصولات شرکت فناوران طیف صنعت کویر، هم اکنون تاثیر بسزایی در تسهیل و
تسریع متریال هندلینگ(جابای مواد و اجسام) و مراحل تعویض،تعمیر و نگهداری( PM )  داشته است. تاثیراتی چون :
                    <ul style="font-size: larger">
                <li>
                    •	تسهیل و تسریع حمل مواد و اجسام سنگین،نیمه سنگین و سبک در محیط های مختلف با انعطاف بسیار بالا
                </li>
                <li>
                    •	کاهش خطرات و انتقال ایمن و دقیق تر

                </li>
                  <li>
                    •	سرعت بخشیدن به مراحل تعمیر و سهولت و امنیت بیشتر هنگام کار با ابزارو ماشین آلات صنعتی

                </li>  <li>
                    •	کاهش هزینه و صرفه جویی در زمان

                </li>
            </ul>

<p class="" style="font-size: 15px">
امید است بتوانیم گامی موثر در شکوفایی صنعت کشور برداریم.
</p>
            </div>
            <div class="col-lg-6 pt-4 content">
                <h3>بیانیه ی مأموریت</h3>
                <p class="" style="font-size: 15px">
شرکت فناوران طیف صنعت کویر از نخستین شرکتهای داخلی فعال در زمینه طراحی و ساخت سیستمهای مکانیزاسیون جابهجایی مواد و اجسام( material handling ) است. ما با بهره گیری از نیروی انسانی متخصص، دانش و تجربه قادر هستیم تمامی صنایع و معادن سراسر کشور را در حیطه فعالیت خود بینیاز سازیم؛ ما با ارائه محصولات با کیفیت و ارتباط مستمر با مشتریان خود سطح ایمنی و بهرهوری آنها را افزایش میدهیم و همواره ارتقا سطح دانش، نوآوری و محصولات را مورد توجه قرار میدهیم.

            </div>
        </div>

    </div>
</section><!-- End About Section -->
