
{% load static %}
<footer id="footer" class="">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="footer-info">
{#                        <div class="logo">#}
{#                            <a href=""><img src="{% static 'img/logo/logo1.png' %}" alt=""></a>#}
{#                        </div>#}
                        <p><strong>آدرس دفتر مرکزی:</strong>
                            <span>
                                یزد،   خیابان مطهری <br>
                                پارک علم و فناوری مرکز توسعه فناوری های نوین دیاکو<br><br>
                            </span>
                   
                            <strong>تلفن:</strong><br>38414260 035<br>91092868 021<br>
                <strong>فکس :</strong>
                38414261 035
<br>
                            <strong>ایمیل:</strong> info@ftskco.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.linkedin.com/in/fanavaran-teif-sanat-kavir-4a16371b5" target="_blank"  class="facebook"><i class="bx bxl-linkedin"></i></a>
                            <a href="https://instagram.com/ftskco.ir?r=nametag" target="_blank"  class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://t.me/joinchat/AAAAAE18EIt-pi4qWE1QOA" target="_blank"  class="google-plus"><i class="bx bxl-telegram"></i></a>
                            <a href="https://www.youtube.com/channel/UCl9DV86NoxMyFE-7W5F9nqg/?guided_help_flow=5" target="_blank"  class=""><i class="bx bxl-youtube"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:home' %}">خانه</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:about' %}">درباره ما</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#services">خدمات</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:post' %}">پروژه ها</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:contact' %}">تماس با ما</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
{#                    <h4>محصولات</h4>#}
                    <ul>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:cylinderh' %}">سیلندرهندلر</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:struth' %}">استروت هندلر</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:belt' %}">بلت هندلر</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:pipe' %}">پایپ هندلر</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:wheel' %}">ویل موتور</a></li>
                    </ul>
                </div>
                 <div class="col-lg-2 col-md-2 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-left"></i><a href="{% url 'website:repair' %}">تعمیر و نگهداری</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:supplycomp' %}">تامین قطعات</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:Surety' %}">گارانتی</a></li>
                        <li><i class="bx bx-chevron-left"></i><a href="{% url 'website:optimization' %}">بهینه سازی</a></li>
                        <li><i class="bx bx-chevron-left"></i><a href="{% url 'website:customization' %}">سفارشی سازی</a></li>
                    </ul>
                </div>
{#<div class="col-lg-3 col-md-3 footer-newsletter">#}
{#<img src="{% static 'img/logo/Park-yzd.png' %}">#}
{#</div>#}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            تمامی حقوق برای شرکت فناوران طیف   صنعت کویر محفوظ می باشد
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            طراحی توسط <a href="https://instagram.com/shiateam?igshid=1raf9wd11dcax">شیاتیم</a>
        </div>
    </div>
</footer><!-- End Footer -->

