{% load static %}
<footer id="footer" class="">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
{#                        <div class="logo">#}
{#                            <a href=""><img src="{% static 'img/logo/logo1.png' %}" alt=""></a>#}
{#                        </div>#}
                        <p>
                            یزد، میدان شهید بهشتی <br>
                            پارک علم و فناوری یزد<br><br>
                            <strong>تلفن:</strong> +1 5589 55488 55<br>
                            <strong>ایمیل:</strong> info@ftskco.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:home' %}">خانه</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:about' %}">درباره ما</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#services">خدمات</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:post' %}">پروژه ها</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="{% url 'website:contact' %}">تماس با ما</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-left"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-left"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            تمامی حقوق برای فناوران طیف گستر کویر محفوظ می باشد
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            طراحی توسط <a href="https://bootstrapmade.com/">شیاتیم</a>
        </div>
    </div>
</footer><!-- End Footer -->

