<!-- ======= Services Section ======= -->
{% load static %}
<!-- ======= Cta Section ======= -->
<section id="services" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>زمینه های فعالیت شرکت</h3>

        </div>
        <div class="row services-content  align-content-center">
            <div class="col-lg-4 col-md-4 p-3">
                <div class="row  align-items-center">
                    <i class="icofont-hammer"></i>
                    {#                    <img src="{% static 'img/logo/company.png' %}"  alt="Orange agriculture icon png" />#}
                    <div class="card-body">
                        <h3>معادن:</h3>
                        <p> تعمیر و نگهداری سیلندرها و جک‌ها ، لاستیک های نگهدارنده / تعویض ، تعمیر و نگهداری توپی چرخ ها ، جابجایی تسمه نقاله ، تدارکات و استفاده از مواد سنگین ، بلند کردن کارگران ماهر

                    </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-wheat"></i>
                    <div class="card-body">
                        <h3>کشاورزی:</h3>
                        <p> برداشت محصول، نگهداری از مزارع، حمل و جابه جایی محصولات در مزارع
 </p></div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-4  p-3 d-none  d-lg-block d-md-block services-img">
{#                <img src="{% static 'img/post/nuovo_settori.png' %}">#}
            </div>
            <div class="col-lg-4 col-md-4  p-3 ">
                <div class="row align-items-center ">
                    <i class="icofont-industries"></i>
                    <div class="card-body">
                        <h3>صنایع و بنادر:</h3>
                        <p> نفت و گاز ، دفاع ، فرودگاه ها ، نگهداری زیرساخت ها ، جنگل‌داری ، بنادر ، راه آهن ، تونل و پل ، غذا و کشاورزی
ذخیره سازی قایق های کوچک و متوسط ، حمل و نقل برای نگهداری و تمیز کردن بدنه
 </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-building-alt"></i>
                <div class="card-body">
                    <h3>عمران:</h3>
                    <p> جابه‌جایی و کمک به نصب ساختمانهای پیش ساخته، نوسازی و مرمت </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Cta Section -->
<section class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p> محصولات شرکت</p>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 d-flex align-items-stretch justify-content-center" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/electricity-2/76/Transformer-512.png"></div>
                    <h4><a href="{% url 'website:struth' %}">استروت هندلر</a></h4>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 d-flex align-items-stretch  justify-content-center"
                 data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn2.iconfinder.com/data/icons/automobile-parts-and-repair-car-services-2-1/50/119-512.png">
                    </div>
                    <h4><a href="{% url 'website:cylinderh' %}">سیلندر هندلر</a></h4>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 d-flex align-items-stretch   justify-content-center"
                 data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxfKfJZ79NBilcWyxtFHEGuwVbmDPUBthvUQ&usqp=CAU">
                    </div>
                    <h4><a href="{% url 'website:tyreh' %}">تایر هندلر</a></h4>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 d-flex align-items-stretch  justify-content-center" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><img src="{% static 'img/post/post_1.png' %}"></div>
                    <h4><a href="{% url 'website:wheel' %}">ویل موتور</a></h4>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 d-flex align-items-stretch  justify-content-center" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://www.kindpng.com/picc/m/119-1190577_pipe-transparent-pipe-icon-png-png-download.png">
                    </div>
                    <h4><a href="{% url 'website:pipe' %}">پایپ هندلر</a></h4>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 d-flex align-items-stretch  justify-content-center" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/industrial-and-construction-2/70/77-512.png">
                    </div>
                    <h4><a href="{% url 'website:belt' %}">بلت هندلر</a></h4>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
