
<!-- ======= Services Section ======= -->
{% load static %}
<!-- ======= Cta Section ======= -->
<section id="services" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3 style="font-weight: bold;font-size: 20px">زمینه های فعالیت شرکت</h3>

        </div>
        <div class="row services-content  align-content-center">
            <div class="col-lg-4 col-md-4 p-3">
                <div class="row  align-items-center">
                    <i class="icofont-hammer"></i>
                    {#                    <img src="{% static 'img/logo/company.png' %}"  alt="Orange agriculture icon png" />#}
                    <div class="card-body">
                        <h3>معادن:</h3>
                        <p>	تعمیر و نگهداری سیلندرها و جک ها،تعویض،تعمیر و نگه داری قطعات ماشین آلات معدنی، جا به جایی کابل ها و نوار نقاله، جا به جایی کارگران در ارتفاعات

                    </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-wheat"></i>
                    <div class="card-body">
                        <h3>کشاورزی:</h3>
                        <p> برداشت محصول، نگهداری از مزارع، حمل و جابه جایی محصولات در مزارع
 </p></div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-4  p-3 d-none  d-lg-block d-md-block services-img">
            </div>
            <div class="col-lg-4 col-md-4  p-3 ">
                <div class="row align-items-center ">
                    <i class="icofont-industries"></i>
                    <div class="card-body">
                        <h3>صنایع و بنادر:</h3>
                        <p>نفت و گاز،پتروشیمی، فرودگاه ها، نگهداری زیرساخت ها، جنگل داری، بنادر، راه آهن، تونل و پل ها، ذخیره سازی و جا به جایی قایق های کوچک برای تعمیر و نگهداری و تمیز کردن بدنه آنها
 </p></div>
                </div>
                <div class="row align-items-center mt icon">
                    <i class="icofont-building-alt"></i>
                <div class="card-body">
                    <h3>عمران:</h3>
                    <p> جا به جایی و کمک به نصب ساختمان های پیش ساخته، نوسازی و مرمت </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section><!-- End Cta Section -->
<section class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
              <h2>محصولات شرکت</h2>
        </div>

          <div class="row justify-content-center">
            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/electricity-2/76/Transformer-512.png"></div>
                    <h4><a href="{% url 'website:struth' %}">استروت هندلر</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4"
                 data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn2.iconfinder.com/data/icons/automobile-parts-and-repair-car-services-2-1/50/119-512.png">
                    </div>
                    <h4><a href="{% url 'website:cylinderh' %}">سیلندر هندلر</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch   justify-content-center pt-4"
                 data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxfKfJZ79NBilcWyxtFHEGuwVbmDPUBthvUQ&usqp=CAU">
                    </div>
                    <h4><a href="{% url 'website:tyreh' %}">تایر هندلر</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><span class="icofont-articulated-truck"></span></div>
                    <h4><a href="{% url 'website:wheel' %}">ویل موتور</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://www.kindpng.com/picc/m/119-1190577_pipe-transparent-pipe-icon-png-png-download.png">
                    </div>
                    <h4><a href="{% url 'website:pipe' %}">پایپ هندلر</a></h4>
                </div>
            </div>

            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img
                            src="https://cdn0.iconfinder.com/data/icons/industrial-and-construction-2/70/77-512.png">
                    </div>
                    <h4><a href="{% url 'website:belt' %}">بلت هندلر</a></h4>
                </div>
            </div>
              <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon">
                        <img src="{% static 'img/gallery/cable.png' %}">
                    </div>
                    <h4><a href="{% url 'website:cable' %}">کابل هندلر </a></h4>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-5 d-flex align-items-stretch  justify-content-center pt-4" data-aos="zoom-in"
                 data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon">
<span class="icofont-repair"></span>
                    </div>
                    <h4><a href="{% url 'website:rod' %}">رادهندلر  </a></h4>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
