{% load static %}
<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'img/hero/2.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
          	<span class="subheading">فناوران طیف صنعت کویر</span>
            <h1 class="mb-4">جابجایی یک هنر است </h1>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({% static 'img/hero/1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
          	<span class="subheading">Negotiate Consulting</span>
            <h1 class="mb-4">We Help to Grow Your Business</h1>
          </div>
        </div>
        </div>
      </div>
    </section>