 {% load static %}
<div class="home-slider owl-carousel">
     <div class="slider-item" style="background-image:url({% static 'img/hero/3-2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7  mb-md-5">
                    <span class="subheading">فناوران طیف صنعت کویر</span>
                    <h1 class="mb-4">جابه جایی یک هنر است </h1>
                </div>
            </div>
        </div>
    </div> 

    <div class="slider-item" style="background-image:url({% static 'img/hero/1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7  mb-md-5">
                    <h1 class="mb-4">بهترین ها را از ما بخواهید</h1>
                </div>
            </div>
        </div>
    </div> 
    <div class="slider-item" style="background-image:url({% static 'img/hero/5-2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7  mb-md-5">
                    <h1 class="mb-4">نوآوری هسته اصلی کار ما </h1>
                </div>
            </div>
        </div>
    </div>
</div>