{% load static %}
 <section class="ftco-section testimony-section">
      <div class="container-fluid px-md-5">

        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                  <div class="user-img" style="background-image: url({% static 'img/post/post_1.png' %})">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                         <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                  <div class="user-img" style="background-image: url({% static 'img/post/post_1.png' %})">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                          <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                  <div class="user-img" style="background-image: url({% static 'img/post/post_1.png' %})">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                            <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                  <div class="user-img" style="background-image: url({% static 'img/post/post_1.png' %})">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap d-flex">
                               <div class="text pl-4">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                  </div>
                  <div class="user-img" style="background-image: url({% static 'img/post/post_1.png' %})">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
