{% load static %}
<div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'img/hero/liebherr-1.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
          	<span class="subheading">فناوران طیف صنعت کویر</span>
            <h1 class="mb-4">جابجایی یک هنر است </h1>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({% static 'img/hero/item8.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <h1 class="mb-4">بهترین ها را از ما بخواهید</h1>
          </div>
        </div>
        </div>
      </div>
      <div class="slider-item" style="background-image:url({% static 'img/hero/item7.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mb-md-5">
            <h1 class="mb-4">ذوق و هنر، کارها ساده تر</h1>
          </div>
        </div>
        </div>
      </div>
    </div>
