<title>محصولات  | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    {% for product in products %}

    <div class="tyrehandler row ">
            <div class="col-arrow col-lg-2  d-flex align-items-center order-3">
            <div>
                <button class="btn"><a href="{% url 'website:productcontrol' product.id product.type %}">جزییات<i class="fa fa-angle-left mr-3"></i></a></button>
            </div>
        </div>
        <div class="col-description col-lg-5 order-2 ">
            <h2 class="">
                {{ product.name }}</h2>
            <div class="row">
                <div class="col-description-1  ">
                    <!--<div-->
                    <!--        class="">-->
                    <!--    <strong>سال ساخت</strong><strong> : </strong>{{ product.model_Year }}-->
                    <!--    <br>-->
                    <!--</div>-->
                    <div
                            class="">
                        <strong >ظرفیت (kg)</strong><strong> : </strong>{{ product.capacity_Kg }}
                        <br>
                    </div>
                    <div
                            class="ng-binding ng-scope">
                        <strong>توضیحات</strong><strong> : </strong>{{ product.description|safe }}
                        <br>
                    </div>
                </div>
                            </div>

        </div>
            <div class="col-picture card  col-lg-4 order-1 ">
            <img src="{{ product.image.url }}" class="m-auto">
        </div>

    </div>
        {% endfor %}



{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}
