<title>راد هندلر | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    <section class="" id="detail">
        <div class=" container">
            <div class="product-headings row d-flex justify-content-lg-start align-items-center mb-4">
                <div class="product-headings-category p-1">
                    <h3 class="">{{ rodhandler.name }}</h3>
                </div>
                <h1 class="mr-lg-auto p-1">{{ rodhandler.code }}</h1>
            </div>

            <div class="product">
                <div class="cta-bloc row">
                    <div class="product-description col-lg-8">
                        {{ rodhandler.description|safe }}
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-block mt-5">
                            <span translate="" class="ng-scope">دانلود کاتالوگ</span>
                        </button>
                    </div>
                </div>

                <div class="bloc-product mt-5">
                    <header class="header">
                          <p> {{ rodhandler.name }}</p>
                        <div class="header-content pt-4">
                            <h1 class="header-content-title">
                                {{ rodhandler.code }}
                            </h1>
                        </div>
                    </header>
                    <div class="row">
                <div class="col-lg-4 col-md-5 order-1 ">
                            <div class="">
                                <img class="" style="margin: 10px"
                                         src="{{ rodhandler.image.url }}"/>

                            </div>
                        </div>
                        <div class="col-lg-8 order-2 col-md-7 ">
                            <table class="table table-striped ">
                                <tbody>
                                <tr><th>نام محصول</th><td>{{ rodhandler.name }}</td></tr>
                                <tr><th>کد محصول</th><td>{{ rodhandler.code }}</td></tr>
                                <tr><th>ظرفیت/kg</th><td>{{rodhandler.capacity_Kg }}</tr>
                                <tr><th>ظرفیت/lbs</th><td>{{rodhandler.capacity_Lbs}}</td></tr>
                                <tr><th>قطر سیلندر هدف</th><td>mm ({{rodhandler.Cylinder_Diameter_mm_min}}/{{rodhandler.Cylinder_Diameter_mm_max}})</td></tr>
                                <tr><th>قطر سیلندر هدف</th><td>in ({{rodhandler.Cylinder_Diameter_in_min}}/{{rodhandler.Cylinder_Diameter_in_max}})</td></tr>
                                </tbody>
                            </table>

                        </div>
                            <div class="mt-5">
                            <div class="d-flex justify-content-center">
                                {% if rodhandler.image1 %}
                                                                <img class="p-2" src="{{ rodhandler.image1.url }}"  alt="">

                                {% endif %}
                                {% if rodhandler.image2 %}
                                                                <img class="p-2" src="{{ rodhandler.image2.url }}"  alt="">

                                {% endif %}
                                {% if rodhandler.image3 %}
                                                                <img class="p-2" src="{{ rodhandler.image3.url }}"  alt="">

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}
