{% extends 'pages/base.html' %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}
    <section class="">
        <div class=" container">
            <div class="product-headings row d-flex justify-content-lg-start align-items-center mb-4">
                <div class="product-headings-category p-1">
                    <h3 class="">{{ struthandler.name }}</h3>
                </div>
                <h1 class="mr-lg-auto p-1">{{ struthandler.code }}</h1>
            </div>

            <div class="product">
                <div class="cta-bloc row">
                    <div class="product-description col-lg-8">
                        {{ struthandler.description|safe }}
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-block mt-5">
                            <span translate="" class="ng-scope">دانلود کاتالوگ</span>
                        </button>
                    </div>
                </div>

                <div class="bloc-product mt-5">
                    <header class="header">
                        <div class="header-content">
                            <p class="header-content-text"></p>
                            <h1 class="header-content-title">
                                {{ struthandler.code }}
                            </h1>
                        </div>
                    </header>
                    <div class="row">
                <div class="col-lg-4 col-md-5 order-1 ">
                            <div class="">
                                <img class="" src="https://adjeygjfyo.cloudimg.io/width/768/x/https://technical-datasheet-api.manitou.com/api/media/8/2/6/c/826c51658cc0ee353a1e108530c2c7f029efd71d_manitou_card_construction_telehandler_MHT10130_main_visual.png" alt="MHT-X 10130" onerror="this.onerror = null;this.src = 'https://manitou.cloud.akeneo.com/media/cache/preview/8/2/6/c/826c51658cc0ee353a1e108530c2c7f029efd71d_manitou_card_construction_telehandler_MHT10130_main_visual.png';">
                            </div>
                        </div>
                        <div class="col-lg-8 order-2 col-md-7 ">
                            <table class="table table-striped ">
                                <tbody>
                                <tr><th>نام محصول</th><td>{{ struthandler.name }}</td></tr>
                                <tr><th>کد محصول</th><td>{{ struthandler.code }}</td></tr>
                                <tr><th>سال تولید</th><td>{{ struthandler.model_Year }}</td></tr>
                                <tr><th>ظرفیت/kg</th><td>{{struthandler.capacity_Kg }}</tr>
                                <tr><th>ظرفیت/lbs</th><td>{{struthandler.capacity_Lbs}}</td></tr>
                                <tr><th>قطر سیلندر هدف</th><td>mm ({{struthandler.Cylinder_Diameter_mm_min}}/{{struthandler.Cylinder_Diameter_mm_max}})</td></tr>
                                <tr><th>قطر سیلندر هدف</th><td>in ({{struthandler.Cylinder_Diameter_in_min}}/{{struthandler.Cylinder_Diameter_in_max}})</td></tr>
                                <tr><th> انتقال به طرفین</th><td>   mm ({{struthandler.sideShift_Mm}})</td></tr>
                                <tr><th>انتقال به طرفین</th><td> in ({{struthandler.sideShift_In}})</td></tr>
                                <tr><th>دوران بدنه</th><td>{{struthandler.body_Rotation}}</td></tr>
                                <tr><th> زاویه گرفتن</th><td>{{struthandler.Handler_tilting}}</td></tr>
                                <tr><th>price_Toman</th><td>{{struthandler.price_Toman}}</td></tr>
                                <tr><th>price_Dollar</th><td>{{struthandler.price_Dollar}}</td></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}
