<title>ویل موتور هندلر | فناوران طیف صنعت کویر</title>

{% extends 'pages/base.html' %}
{% block header %}
    {% include 'partial/_header.html' %}
{% endblock %}

{% block content %}

    <section class="" id="detail">
        <div class=" container" >
            <div class="product-headings row d-flex justify-content-lg-start align-items-center mb-4">
                <div class="product-headings-category p-1">
                    <h3 class="">Wheel motor</h3>
                </div>
                <h1 class="mr-lg-auto p-1">{{ wheelmotor.code }}</h1>
            </div>

            <div class="product">
                <div class="cta-bloc row">
                    <div class="product-description col-lg-8">
                        {{ wheelmotor.description|safe }}
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-block mt-5">
                            <span translate="" class="ng-scope">دانلود کاتالوگ</span>
                        </button>
                    </div>
                </div>

                <div class="bloc-product mt-5">
                    <div class="container">
                    <header class="header">
                        <!--<p> {{ wheelmotor.name }}</p>-->
                        <div class="header-content pt-4">

                            <h1 class="header-content-title">
                                {{ wheelmotor.code }}
                            </h1>
                        </div>
                    </header>
                    <div class="">
                        <div class=" order-1 ">
                            <div class="d-flex justify-content-center">
                                    <img class="" style="margin: 10px"
                                         src="{{ wheelmotor.image.url }}"/>
                                               </div>
                        </div>
                        <div class=" order-2 ">
                            <table class="table table-striped ">
                                <div class="thead text-white"><p class="pr-3 pt-2">{{ cylinderhandler.name }}</p></div>
                                <tbody>
                                <tr><th>نام محصول</th><td>{{ wheelmotor.name }}</td></tr>
                                <tr><th>کد محصول</th><td>{{ wheelmotor.code }}</td></tr>
                                <tr><th>ظرفیت/kg</th><td>{{wheelmotor.capacity_Kg }}</tr>
                                <tr><th>ظرفیت/lbs</th><td>{{wheelmotor.capacity_Lbs}}</td></tr>
                                </tbody>
                            </table>

                        </div>
                         <div class="mt-5">
                            {% if wheelmotor.image1 %}
                                                                <img class="p-2" src="{{ wheelmotor.image1.url }}"  alt="">

                                {% endif %}
                                {% if wheelmotor.image2 %}
                                                                <img class="p-2" src="{{ wheelmotor.image2.url }}"  alt="">

                                {% endif %}
                                {% if wheelmotor.image3 %}
                                                                <img class="p-2" src="{{ wheelmotor.image3.url }}"  alt="">

                                {% endif %}
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partial/_footer.html' %}
{% endblock %}
